* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background: #16a234;
  margin: 5px;
  font-size: 16px;
  font-family: sans;
}

header, footer {
  padding: 5px;
  margin: 10px 0;
  font-family: mono;
}

header {
  background: white;
}

footer {
  text-align: left;
  line-height: 2;
}

a {
  color: inherit;
  font-weight: bold;
}

img {
    background: white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    color: black;
    background: white;
    padding: 5px;
}
/*** MAIN/INPUT ***/

form {
  background: #005c2b;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: baseline;
}

form label {
  margin: 3px;
}

form select {
  width: 275px;
  color: black;
  text-align: center;
}

/*** OUTPUT ***/

table {
  width: 100%;
  border-spacing: 0 2px;
  border-collapse: separate;
}

thead {
  color: white;
  background: #005c2b;
}

th {
  padding: 5px;
}

/* tbody */
#output {
  border-top: 0;
  margin-bottom: 10px;
  padding: 5px;
}

.voyage {
  background: white;
}

.voyage > * {
  padding: 5px;
}

.prix {
  color: black;
}

.heure {
  font-weight: bold;
  color: green;
}

.ligne, .transporteur {
  color: gray;
  font-size: small;
}
