* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  text-align: center;
  background: greenyellow;
  margin: 5px;
  font-size: 16px;
  font-family: sans;
}

header, footer {
  background: #80cc0b;
  padding: 5px;
  margin: 10px 0;
  font-family: mono;
}

hr {
  color: greenyellow;
}

/*** MAIN/INPUT ***/

form {
  background: black;
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: baseline;
}

form label {
  margin: 3px;
}

form select {
  width: 275px;
  color: black;
  text-align: center;
}

/*** OUTPUT ***/

table {
  width: 100%;
  border-spacing: 0 2px;
  border-collapse: separate;
}

thead {
  color: white;
  background: black;
}

th {
  padding: 5px;
}

/* tbody */
#output {
  border-top: 0;
  margin-bottom: 10px;
  padding: 5px;
}

.voyage {
  background: white;
}

.voyage > * {
  padding: 5px;
}

.prix {
  color: black;
}

.heure {
  font-weight: bold;
  color: green;
}

.ligne, .transporteur {
  color: gray;
  font-size: small;
}
