:root {
  --sogral-dark-color: #005c2b;
  --sogral-light-color: #16a234;
}

* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: 2px solid orange;
}

body {
  text-align: center;
  background: var(--sogral-light-color);
  margin: 5px;
  font-size: 16px;
  font-family: sans;
}

/*** Header ***/

header {
  background: white;
  padding: 5px;
  font-family: mono;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--sogral-dark-color);
}

img {
    background: white;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    color: black;
    background: white;
    padding: 5px;
}

/* Adapted from SaraSoueidan.com/css/screen.css: .blog__post-title.link::before */
h1::before {
    content: "";
    display: inline-block;
    background-size: cover;
    background-image: url(images/duck.svg);
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: .5em;
}    

/*** MAIN/INPUT ***/

form {
  background: var(--sogral-dark-color);
  color: white;
  border-radius: 15px;
  padding: 16px 0;
  margin: 15px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: baseline;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px #005c2b, 0.3em 1.3em 1em rgba(0,0,0,0.3);
}

form label {
  margin: 5px;
  width: 300px;
}

form select {
  width: 100%;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

/*** OUTPUT ***/

table {
  width: 100%;
  border-spacing: 0 2px;
  border-collapse: separate;
}

thead {
  color: white;
  background: var(--sogral-dark-color);
}

th {
  padding: 10px 0;
}

/* tbody */
#output {
  border-top: 0;
  margin-bottom: 10px;
  padding: 5px;
}

.voyage {
  background: white;
}

.voyage > * {
  padding: 5px;
}

.prix {
  color: black;
  font-weight: bold;
}

.heure {
  font-weight: bold;
  color: green;
}

.ligne, .transporteur {
  /* color: gray; */
  font-size: small;
}


/** FOOTER **/

footer {
  text-align: left;
  padding: 20px;
  margin: 15px 0;
  font-family: mono;
  background: lightgreen;
}
